.vscode/**
.vscode-test/**
.github/**
node_modules/**
tests/**
*.vsix
.gitignore
.gitattributes
*.md
!README.md
!CHANGELOG.md
.eslintrc*
.prettierrc*
tsconfig.json
webpack.config.js
yarn.lock
package-lock.json
